doctype html
html
  head
    title=title
    script(src='/static/jquery/dist/jquery.min.js')
    script(src='/static/pdfjs-dist/build/pdf.min.js')
  body
    div(id='viewer')

script.

    var canvasContainer = $('#viewer')[0];

    function renderPage(page, pn) {
        var viewport = page.getViewport(1.5);
        var canvas = document.createElement('canvas');
        var ctx = canvas.getContext('2d');
        var renderContext = {
          canvasContext: ctx,
          viewport: viewport
        };

        canvas.height = viewport.height;
        canvas.width = viewport.width;
        $(canvas).attr('page', page.pageIndex);
        canvasContainer.appendChild(canvas);

        page.render(renderContext);
    }

    PDFJS.workerSrc = '/static/pdfjs-dist/build/pdf.worker.min.js';
    PDFJS.getDocument('/file/' + '#{file}').then(function (doc) {
        for (var pn = 1; pn <= doc.numPages; ++pn) {
            doc.getPage(pn).then(renderPage);
        }
    });