doctype html
html
  head
    title=title
    link(href='/views/viewer.css', rel='stylesheet', type='text/css')
    script(src='/bower/jquery/dist/jquery.min.js')
    script(src='/bower/pdfjs-dist/build/pdf.min.js')
  body
    div(id='viewer')

script.

    var scale = 1.5;

    var totalPages = 0;
    var pagesRendered = 0;

    function renderPage(page) {
        var viewport = page.getViewport(scale);
        var $canvas = $("<canvas></canvas>");

        var canvas = $canvas.get(0);
        var context = canvas.getContext("2d");
        canvas.height = viewport.height;
        canvas.width = viewport.width;

        var $page = $('#page-index-' + page.pageIndex);
        $page.css({ height: viewport.height + "px", width: viewport.width + "px" });
        $page.append($canvas);

        var canvasOffset = $canvas.offset();
        var $textLayerDiv = $("<div />")
            .addClass("textLayer")
            .css({ height: viewport.height + "px", width: viewport.width + "px" })
            .offset({ top: canvasOffset.top, left: canvasOffset.left });

        $page.append($textLayerDiv);

        page.getTextContent().then(function (textContent) {
            PDFJS.renderTextLayer({
                textContent: textContent,
                container: $textLayerDiv.get(0),
                viewport: viewport,
                textDivs: []
            });

            var renderContext = {
                canvasContext: context,
                viewport: viewport
            };
            page.render(renderContext).then(function() {
                $('html').trigger('pdf:pageloaded', [page.pageIndex]);
                pagesRendered += 1;
                if (pagesRendered >= totalPages) {
                    $('html').trigger('pdf:docloaded');
                }
            });
        });
    }


    PDFJS.workerSrc = '/bower/pdfjs-dist/build/pdf.worker.min.js';
    PDFJS.disableWorker = true;
    PDFJS.getDocument('/file/' + '#{file}').then(function (doc) {
        for (var pi = 0; pi < doc.numPages; ++pi) {
            $('#viewer').append($("<div class='page' id='page-index-" + pi + "'>"));
        }
        totalPages = doc.numPages;
        pagesRendered = 0;
        for (var pn = 1; pn <= doc.numPages; ++pn) {
            doc.getPage(pn).then(renderPage);
        }
    });