doctype html
html
  head
    title=title
    link(href='/css/viewer.css', rel='stylesheet', type='text/css')
    script(src='/bower/jquery/dist/jquery.min.js')
    script(src='/bower/pdfjs-dist/build/pdf.min.js')
  body
    div(id='viewer')

script.

    var scale = 1.5;
    var canvasContainer = $('#viewer')[0];

    function renderPage(page, pn) {
        var viewport = page.getViewport(scale);
        var canvas = document.createElement('canvas');
        var ctx = canvas.getContext('2d');
        var renderContext = {
          canvasContext: ctx,
          viewport: viewport
        };

        canvas.height = viewport.height;
        canvas.width = viewport.width;
        var $page = $('#page-index-' + page.pageIndex);
        $page.find('.page-image').append($(canvas));
        //$(canvas).attr('page', page.pageIndex);
        //canvasContainer.appendChild(canvas);

        page.render(renderContext).then(function () {
            return page.getTextContent();
        }).then(function (textContent) {
            $page.css('width', viewport.width+'px').css('height', viewport.height+'px');
            $page.find('.page-text').html('<text>XXXXXXXX</text>');
            //console.log({page: page.pageIndex, text: textContent});
        });
    }

    PDFJS.workerSrc = '/bower/pdfjs-dist/build/pdf.worker.min.js';
    PDFJS.disableWorker = true;
    PDFJS.getDocument('/file/' + '#{file}').then(function (doc) {
        for (var pi = 0; pi < doc.numPages; ++pi) {
            $('#viewer').append(
                $("<div class='page' id='page-index-" + pi +
                    "'><div class='page-image'/><div class='page-text'/></div>")
            );
        }
        for (var pn = 1; pn <= doc.numPages; ++pn) {
            doc.getPage(pn).then(renderPage);
        }
    });