body {
    padding: 0;
    margin: 0;
}

.page {
    margin: 0;
    padding: 0;
    position: relative;
}

.page-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    opacity: 1.0;
}

.text {
    position: absolute;
    cursor: text;
    white-space: pre;
    transform-origin: left bottom;
    margin: 0;
    padding: 0;
    z-index: 10;
    color: transparent;
    background-color: transparent;
}